In [1]:
import pandas
import requests
import io

In [2]:
BASE_URL = "http://ec2-3-19-71-141.us-east-2.compute.amazonaws.com:8001/"
API_KEY = "paste your api key here"

# Keyword Search

In [3]:
#Parameters
API = 'authorizedtiles'
END_POINT = BASE_URL + API
search_text = "housing starts"
selected_facets = []

#Execute search
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {"searchText": search_text,"selectedFacets": selected_facets})
search_result = data.json()

#Convert to pandas dataframe
data_tiles = search_result['dataTiles']
data_frame = pandas.DataFrame(data_tiles)
data_frame

,DataSourceName,Frequency,Geography,ID,IsAggregate,Name,ProviderLogo,Rank
0,U.S. Bureau of the Census,Month,CensusRegion,FRED_NEW_0000014036,False,"Housing Starts - Thous. of Units, Seasonally...",https://s3.us-east-2.amazonaws.com/datatiles-p...,145.708600
1,U.S. Bureau of the Census,Month,Country,FRED_0000034497,False,Housing Starts: Total: New Privately Owned Hou...,https://s3.us-east-2.amazonaws.com/datatiles-p...,139.712520
2,U.S. Bureau of the Census,Month,Country,FRED_0000034433,False,"Housing Starts: 2-4 Units Thousands of Units, ...",https://s3.us-east-2.amazonaws.com/datatiles-p...,137.109440
3,U.S. Bureau of the Census,Month,Country,FRED_0000034434,False,Housing Starts: Total: New Privately Owned Hou...,https://s3.us-east-2.amazonaws.com/datatiles-p...,134.981570
4,U.S. Bureau of the Census,Month,CensusRegion,FRED_NEW_0000014037,False,Housing Starts for 1-Unit Structures - Thous...,https://s3.us-east-2.amazonaws.com/datatiles-p...,132.358150
5,U.S. Bureau of the Census,Month,Country,FRED_0000034503,False,"Nonfarm Housing Starts Thousands of Units, Sea...",https://s3.us-east-2.amazonaws.com/datatiles-p...,130.035610
6,U.S. Bureau of the Census,Month,Country,FRED_0000034504,False,Privately Owned Housing Starts: 1-Unit Structu...,https://s3.us-east-2.amazonaws.com/datatiles-p...,127.849240
7,National Bureau of Economic Research,Month,Country,FRED_0000029547,False,"New Home Starts, Number Per Workday Number of ...",https://s3.us-east-2.amazonaws.com/datatiles-p...,127.074646
8,U.S. Bureau of the Census,Month,Country,FRED_0000034496,False,"Housing Starts: 2-4 Units Thousands of Units, ...",https://s3.us-east-2.amazonaws.com/datatiles-p...,123.965030
9,U.S. Bureau of the Census,Month,Country,FRED_0000034469,False,Privately Owned Housing Starts: 5-Unit Structu...,https://s3.us-east-2.amazonaws.com/datatiles-p...,123.420810
10,U.S. Bureau of the Census,Month,Country,FRED_0000034468,False,Privately Owned Housing Starts: 1-Unit Structu...,https://s3.us-east-2.amazonaws.com/datatiles-p...,121.137420
11,U.S. Bureau of the Census,Month,Country,FRED_0000034505,False,Privately Owned Housing Starts: 5-Unit Structu...,https://s3.us-east-2.amazonaws.com/datatiles-p...,121.094210
12,U.S. Bureau of the Census,Quarter,Country,FRED_0000044210,False,New Privately Owned Housing Starts in the Unit...,https://s3.us-east-2.amazonaws.com/datatiles-p...,116.151840
13,U.S. Bureau of the Census,Quarter,CensusRegion,FRED_NEW_0000017651,False,New Privately Owned Housing Starts Average Squ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,113.482544
14,U.S. Bureau of the Census,Quarter,CensusRegion,FRED_NEW_0000017650,False,New Privately Owned Housing Starts Average Squ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,109.114790
15,U.S. Bureau of the Census,Quarter,Country,FRED_0000044212,False,New Privately Owned Housing Starts in the Unit...,https://s3.us-east-2.amazonaws.com/datatiles-p...,108.736260
16,U.S. Bureau of the Census,Quarter,Country,FRED_0000044211,False,New Privately Owned Housing Starts in the Unit...,https://s3.us-east-2.amazonaws.com/datatiles-p...,106.554596
17,U.S. Bureau of the Census,Quarter,Country,FRED_0000044213,False,New Privately Owned Housing Starts in the Unit...,https://s3.us-east-2.amazonaws.com/datatiles-p...,106.554596
18,U.S. Bureau of the Census,Quarter,CensusRegion,FRED_NEW_0000017659,False,New Privately Owned Housing Starts by Purpose ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,106.309296
19,U.S. Bureau of the Census,Quarter,CensusRegion,FRED_NEW_0000017656,False,New Privately Owned Housing Starts by Purpose ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,100.505066
20,U.S. Bureau of the Census,Quarter,CensusRegion,FRED_NEW_0000017658,False,New Privately Owned Housing Starts by Purpose ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,100.505066
21,U.S. Bureau of the Census,Quarter,CensusRegion,FRED_NEW_0000017657,False,New Privately Owned Housing Starts by Purpose ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,98.638370
22,National Bureau of Economic Research,Month,Country,FRED_NEW_0000018414,False,Number of New Private Nonfarm Housing Units St...,https://s3.us-east-2.amazonaws.com/datatiles-p...,57.581482
23,American Community Survey 1-Year Estimates,Year,City,CENSUS_ACS_0000023467,False,Housing type: Occupied housing units Owner-oc...,https://s3.us-east-2.amazonaws.com/datatiles-p...,56.251190
24,American Community Survey 1-Year Estimates,Year,City,CENSUS_ACS_0000023472,False,Housing type: Occupied housing units Renter-o...,https://s3.us-east-2.amazonaws.com/datatiles-p...,55.364586
25,National Bureau of Economic Research,Year,Country,FRED_0000018406,False,Number of New Private Nonfarm Housing Units St...,https://s3.us-east-2.amazonaws.com/datatiles-p...,55.336190
26,2012-2016 American Community Survey 5-Year Est...,Year,CensusBlockGroup,SG_CENSUS_0000001220,False,HOUSING UNITS: Total: Housing units,https://s3.us-east-2.amazonaws.com/datatiles-p...,54.375320
27,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC01HC01_M,False,"Occupied housing units, occupied housing units...",https://s3.us-east-2.amazonaws.com/datatiles-p...,54.280050
28,American Community Survey 1-Year Estimates,Year,City,CENSUS_ACS_0000023493,False,Housing type: Occupied housing units Total,https://s3.us-east-2.amazonaws.com/datatiles-p...,54.061554
29,American Community Survey 1-Year Estimates,Year,City,CENSUS_ACS_0000023494,False,Housing type: Occupied housing units Owner oc...,https://s3.us-east-2.amazonaws.com/datatiles-p...,53.884720
...,...,...,...,...,...,...,...,...
370,Bureau of Economic Analysis (BEA),Year,Country,FRED_0000001290,False,Real housing output: Net housing value added B...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
371,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2504_VC25HC02_M,False,Percent occupied housing units Rooms present -...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
372,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2504_VC30HC05_M,False,Renter-occupied housing units Bedrooms present...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
373,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC34HC02,False,Percent occupied housing units Monthly housing...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
374,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC51HC02,False,Percent occupied housing units Monthly housing...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
375,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC50HC01,False,Occupied housing units Monthly housing costs a...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
376,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2504_VC21HC04_M,False,Percent owner-occupied housing units Rooms pre...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
377,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2504_VC29HC04_M,False,Percent owner-occupied housing units Bedrooms ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
378,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2504_VC30HC02_M,False,Percent occupied housing units Bedrooms presen...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
379,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC42HC02,False,Percent occupied housing units Monthly housing...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.355396
380,2010 Census,Year,Zipcode,CENSUS_0000000782,False,Occupancy Status: Total housing units,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.348880
381,2010 Census,Year,City,CENSUS_0000000785,False,Occupancy Status: Occupied housing units,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.348880
382,2010 Census,Year,County,CENSUS_0000000790,False,Occupancy Status: Vacant housing units,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.348880
383,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_HOUSING_0000000054,False,Housing Unit ROOMS : 2 rooms,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.348880
384,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_HOUSING_0000000056,False,Housing Unit ROOMS : 4 rooms,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.348880
385,2012-2016 American Community Survey 5-Year Est...,Year,CensusBlockGroup,SG_CENSUS_0000003362,False,TENURE: Total: Occupied housing units,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.348880
386,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC38HC01_M,False,Occupied housing units Monthly housing costs a...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.310448
387,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC30HC01_M,False,Occupied housing units Monthly housing costs a...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.310448
388,2012-2016 American Community Survey 5-Year Est...,Year,CensusBlockGroup,SG_CENSUS_0000001487,False,MORTGAGE STATUS AND SELECTED MONTHLY OWNER COS...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.271946
389,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC38HC01,False,Occupied housing units Monthly housing costs a...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.271946
390,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC42HC01,False,Occupied housing units Monthly housing costs a...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.271946
391,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC51HC01,False,Occupied housing units Monthly housing costs a...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.271946
392,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC38HC06,False,Percent renter-occupied housing units Monthly ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.203793
393,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC50HC02,False,Percent occupied housing units Monthly housing...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.203793
394,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2503_VC34HC04,False,Percent owner-occupied housing units Monthly h...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.203793
395,2013-2017 American Community Survey 5-Year Est...,Year,Zipcode,CENSUS_S2504_VC44HC01_M,False,"Occupied housing units with telephone service,...",https://s3.us-east-2.amazonaws.com/datatiles-p...,45.203793
396,American Community Survey 1-Year Estimates,Year,State,CENSUS_ACS_0000007216,False,TENURE BY UNITS IN STRUCTURE%Occupied housing ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.145000
397,American Community Survey 1-Year Estimates,Year,State,CENSUS_ACS_0000007221,False,TENURE BY UNITS IN STRUCTURE%Occupied housing ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.145000
398,American Community Survey 1-Year Estimates,Year,County,CENSUS_ACS_0000015346,False,TENURE BY UNITS IN STRUCTURE%Occupied housing ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.145000
399,American Community Survey 1-Year Estimates,Year,County,CENSUS_ACS_0000015348,False,TENURE BY UNITS IN STRUCTURE%Occupied housing ...,https://s3.us-east-2.amazonaws.com/datatiles-p...,45.145000

# Selected top 100 tiles

In [4]:
priority = 0
selected_data = []
for data_tile in data_tiles[0:100]:
    dt_code = data_tile['ID']
    priority = priority + 1
    selected_data.append({"dataTileCode":dt_code,"Priority": priority})
print(selected_data[0:10])

[{'dataTileCode': 'FRED_NEW_0000014036', 'Priority': 1}, {'dataTileCode': 'FRED_0000034497', 'Priority': 2}, {'dataTileCode': 'FRED_0000034433', 'Priority': 3}, {'dataTileCode': 'FRED_0000034434', 'Priority': 4}, {'dataTileCode': 'FRED_NEW_0000014037', 'Priority': 5}, {'dataTileCode': 'FRED_0000034503', 'Priority': 6}, {'dataTileCode': 'FRED_0000034504', 'Priority': 7}, {'dataTileCode': 'FRED_0000029547', 'Priority': 8}, {'dataTileCode': 'FRED_0000034496', 'Priority': 9}, {'dataTileCode': 'FRED_0000034469', 'Priority': 10}]

# Run Publication

In [5]:
#Parameters
API = 'runpublication'
END_POINT = BASE_URL + API
file_name = 'NAC-1022 Publication with top 100 housing starts tiles '
download_format = {"format":"CSV","compression":"NONE","download_when_ready": False}
subscription_frequency = 'one-time'

#Execute API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'selected_data': selected_data, 'file_name': file_name, 'download_format': download_format, 'subscription_frequency': subscription_frequency}) 
data = data.json()
publication_id = data['publication_id']
print(data)

{'status': 'True', 'message': 'Publication submitted. See the Publications tab when it’s ready.', 'publication_id': 1906}

# Check Publication Status

In [9]:
# Check for publication completion
API = 'publicationstatus'
END_POINT = BASE_URL + API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'publication_id': publication_id}) 
print(data.json())

{'status': 'Ready'}

# Download Publication and Metadata

In [10]:
#Get URLS
API = 'downloaddataframe'
END_POINT = BASE_URL + API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'publication_id': publication_id, 'download_data': True, 'download_metadata': True}) 
print(data.json())

{'dataurl': 'https://s3.us-east-2.amazonaws.com/datatiles-smart-frames/NAC-1022%20Publication%20with%20top%20100%20housing%20starts%20tiles%20_1582114081.csv', 'metadataUrl': 'https://s3.us-east-2.amazonaws.com/datatiles-smart-frames/PackingList_NAC-1022%20Publication%20with%20top%20100%20housing%20starts%20tiles%20_1582114081.csv'}

In [11]:
#Get Datafile from URLs
data_frame = requests.get(data.json()['dataurl']).content
structred_data_frame =pandas.read_csv(io.StringIO(data_frame.decode('utf-8')))
structred_data_frame[0:100]

,CENSUSREGION,MONTH,MEASURE,HOUST,HOUST2FNSA,HOUSTNSA,HOUSTNF,HOUST1F,M02162USM493NNBR,HOUST2F,...,"RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $2,000 TO $2,499",PERCENT RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; OCCUPIED HOUSING UNITS_1,RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - LESS THAN $300,OWNER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $300 TO $499,PERCENT OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $800 TO $999,"OWNER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $1,000 TO $1,499","RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $1,000 TO $1,499","OWNER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $2,000 TO $2,499",OCCUPIED HOUSING UNITS; ESTIMATE; MONTHLY HOUSING COSTS - MEDIAN (DOLLARS),PERCENT OCCUPIED HOUSING UNITS; ESTIMATE; MONTHLY HOUSING COSTS - MEDIAN (DOLLARS)
0,Midwest Region,1959-06-01,343,1503,NaN,147.8,1474.0,1203,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Midwest Region,1960-07-01,306,1197,NaN,114.3,1195.0,947,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Midwest Region,1961-01-01,311,1183,NaN,70.4,1266.0,898,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Midwest Region,1961-12-01,278,1365,NaN,82.2,1336.0,1005,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Midwest Region,1962-01-01,235,1361,NaN,81.2,1470.0,974,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Midwest Region,1962-07-01,284,1450,NaN,136.5,1409.0,983,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Midwest Region,1962-09-01,248,1324,NaN,114.3,1300.0,866,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Midwest Region,1964-01-01,358,1603,9.2,97.9,1612.0,1023,NaN,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Midwest Region,1964-03-01,329,1517,9.7,129.1,1534.0,931,NaN,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Midwest Region,1964-12-01,268,1484,6.2,93.0,1458.0,963,NaN,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Midwest Region,1966-01-01,340,1370,4.2,79.4,1403.0,848,NaN,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Midwest Region,1966-03-01,363,1394,6.5,118.1,1400.0,950,NaN,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Midwest Region,1960-08-01,283,1344,NaN,130.3,1365.0,1091,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Midwest Region,1961-03-01,314,1312,NaN,104.2,1270.0,957,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Midwest Region,1961-07-01,269,1335,NaN,126.6,1304.0,1004,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Midwest Region,1961-10-01,292,1415,NaN,124.8,1309.0,993,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Midwest Region,1963-10-01,385,1779,12.5,165.3,1833.0,1088,NaN,136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Midwest Region,1964-02-01,491,1820,10.6,101.3,1819.0,1162,NaN,177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Midwest Region,1966-02-01,347,1378,3.8,76.2,1381.0,910,NaN,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Midwest Region,1966-04-01,343,1352,7.5,140.9,1356.0,879,NaN,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Midwest Region,1966-05-01,315,1265,6.2,130.0,1232.0,822,NaN,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Midwest Region,1959-09-01,362,1540,NaN,136.4,1521.0,1275,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Midwest Region,1961-11-01,296,1385,NaN,103.0,1377.0,1018,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Midwest Region,1962-05-01,289,1483,NaN,155.2,1515.0,1032,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Midwest Region,1962-08-01,308,1517,NaN,147.7,1531.0,1053,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Midwest Region,1962-10-01,305,1533,NaN,135.2,1410.0,990,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Midwest Region,1963-08-01,349,1639,8.4,144.0,1555.0,1056,NaN,107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Midwest Region,1964-07-01,340,1562,9.8,140.6,1517.0,969,NaN,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Midwest Region,1965-05-01,351,1478,10.5,153.3,1461.0,949,NaN,103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Midwest Region,1965-12-01,451,1656,6.5,101.1,1544.0,1093,NaN,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Midwest Region,1960-04-01,288,1289,NaN,123.0,1267.0,1049,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Midwest Region,1962-04-01,326,1524,NaN,147.8,1494.0,1027,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Midwest Region,1963-01-01,156,1244,NaN,79.0,1244.0,810,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Midwest Region,1963-03-01,271,1534,NaN,124.8,1482.0,962,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Midwest Region,1963-09-01,362,1763,9.7,143.7,1709.0,1106,NaN,133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Midwest Region,1964-09-01,328,1455,6.6,119.8,1395.0,957,NaN,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Midwest Region,1964-11-01,346,1486,7.5,110.6,1480.0,930,NaN,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Midwest Region,1965-03-01,307,1423,6.9,119.9,1429.0,929,NaN,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Midwest Region,1965-09-01,361,1482,6.7,124.6,1453.0,962,NaN,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Midwest Region,1965-10-01,364,1452,5.8,133.1,1438.0,954,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Midwest Region,1965-11-01,393,1460,7.8,110.5,1443.0,992,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Midwest Region,1959-01-01,452,1657,NaN,96.2,1562.0,1336,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Midwest Region,1959-02-01,469,1667,NaN,99.0,1512.0,1317,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Midwest Region,1959-12-01,395,1601,NaN,95.6,1563.0,1410,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Midwest Region,1960-02-01,383,1503,NaN,90.7,1521.0,1208,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Midwest Region,1960-06-01,323,1247,NaN,122.8,1213.0,1003,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Midwest Region,1961-05-01,269,1228,NaN,127.6,1223.0,938,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Midwest Region,1962-06-01,260,1404,NaN,136.8,1365.0,951,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Midwest Region,1963-07-01,316,1614,NaN,151.3,1611.0,1031,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Midwest Region,1964-10-01,373,1524,10.7,141.2,1546.0,996,NaN,114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Midwest Region,1965-08-01,339,1432,7.7,128.3,1382.0,958,NaN,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Northeast Region,1975-05-01,155,1121,5.2,116.1,NaN,885,NaN,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Northeast Region,1975-08-01,148,1260,5.7,117.3,NaN,973,NaN,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Northeast Region,1975-11-01,163,1360,5.9,96.9,NaN,1035,NaN,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Northeast Region,1975-12-01,157,1321,4.6,76.1,NaN,1025,NaN,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Northeast Region,1976-12-01,176,1804,6.6,107.4,NaN,1307,NaN,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Northeast Region,1977-04-01,188,1892,10.3,182.2,NaN,1421,NaN,116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Northeast Region,1977-05-01,214,1971,12.2,201.3,NaN,1466,NaN,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Northeast Region,1977-11-01,198,2042,10.2,154.8,NaN,1499,NaN,136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Northeast Region,1978-02-01,90,1738,5.6,101.3,NaN,1235,NaN,104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Get Metadata from URL
metadata = requests.get(data.json()['metadataUrl']).content
structred_metadata_frame =pandas.read_csv(io.BytesIO(data_frame))
structred_metadata_frame

,CENSUSREGION,MONTH,MEASURE,HOUST,HOUST2FNSA,HOUSTNSA,HOUSTNF,HOUST1F,M02162USM493NNBR,HOUST2F,...,"RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $2,000 TO $2,499",PERCENT RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; OCCUPIED HOUSING UNITS_1,RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - LESS THAN $300,OWNER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $300 TO $499,PERCENT OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $800 TO $999,"OWNER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $1,000 TO $1,499","RENTER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $1,000 TO $1,499","OWNER-OCCUPIED HOUSING UNITS; MARGIN OF ERROR; MONTHLY HOUSING COSTS - $2,000 TO $2,499",OCCUPIED HOUSING UNITS; ESTIMATE; MONTHLY HOUSING COSTS - MEDIAN (DOLLARS),PERCENT OCCUPIED HOUSING UNITS; ESTIMATE; MONTHLY HOUSING COSTS - MEDIAN (DOLLARS)
0,Midwest Region,1959-06-01,343,1503,NaN,147.8,1474.0,1203,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Midwest Region,1960-07-01,306,1197,NaN,114.3,1195.0,947,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Midwest Region,1961-01-01,311,1183,NaN,70.4,1266.0,898,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Midwest Region,1961-12-01,278,1365,NaN,82.2,1336.0,1005,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Midwest Region,1962-01-01,235,1361,NaN,81.2,1470.0,974,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Midwest Region,1962-07-01,284,1450,NaN,136.5,1409.0,983,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Midwest Region,1962-09-01,248,1324,NaN,114.3,1300.0,866,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Midwest Region,1964-01-01,358,1603,9.2,97.9,1612.0,1023,NaN,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Midwest Region,1964-03-01,329,1517,9.7,129.1,1534.0,931,NaN,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Midwest Region,1964-12-01,268,1484,6.2,93.0,1458.0,963,NaN,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Midwest Region,1966-01-01,340,1370,4.2,79.4,1403.0,848,NaN,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Midwest Region,1966-03-01,363,1394,6.5,118.1,1400.0,950,NaN,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Midwest Region,1960-08-01,283,1344,NaN,130.3,1365.0,1091,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Midwest Region,1961-03-01,314,1312,NaN,104.2,1270.0,957,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Midwest Region,1961-07-01,269,1335,NaN,126.6,1304.0,1004,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Midwest Region,1961-10-01,292,1415,NaN,124.8,1309.0,993,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Midwest Region,1963-10-01,385,1779,12.5,165.3,1833.0,1088,NaN,136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Midwest Region,1964-02-01,491,1820,10.6,101.3,1819.0,1162,NaN,177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Midwest Region,1966-02-01,347,1378,3.8,76.2,1381.0,910,NaN,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Midwest Region,1966-04-01,343,1352,7.5,140.9,1356.0,879,NaN,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Midwest Region,1966-05-01,315,1265,6.2,130.0,1232.0,822,NaN,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Midwest Region,1959-09-01,362,1540,NaN,136.4,1521.0,1275,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Midwest Region,1961-11-01,296,1385,NaN,103.0,1377.0,1018,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Midwest Region,1962-05-01,289,1483,NaN,155.2,1515.0,1032,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Midwest Region,1962-08-01,308,1517,NaN,147.7,1531.0,1053,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Midwest Region,1962-10-01,305,1533,NaN,135.2,1410.0,990,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Midwest Region,1963-08-01,349,1639,8.4,144.0,1555.0,1056,NaN,107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Midwest Region,1964-07-01,340,1562,9.8,140.6,1517.0,969,NaN,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Midwest Region,1965-05-01,351,1478,10.5,153.3,1461.0,949,NaN,103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Midwest Region,1965-12-01,451,1656,6.5,101.1,1544.0,1093,NaN,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2898,Northeast Region,2002-12-01,160,1788,2.6,123.1,NaN,1439,NaN,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2899,Northeast Region,2003-10-01,153,1967,2.8,173.5,NaN,1631,NaN,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2900,South Region,1983-08-01,1043,1910,10.2,176.8,NaN,1155,NaN,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2901,South Region,1984-04-01,953,1851,14.3,172.7,NaN,1124,NaN,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2902,South Region,1984-07-01,884,1732,11.7,162.1,NaN,1006,NaN,121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2903,South Region,1985-05-01,741,1680,10.4,170.2,NaN,1027,NaN,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2904,South Region,1987-04-01,662,1614,6.3,159.3,NaN,1181,NaN,62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2905,South Region,1988-01-01,437,1271,3.6,78.2,NaN,924,NaN,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2906,South Region,1988-09-01,591,1492,5.0,131.1,NaN,1044,NaN,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2907,South Region,1981-11-01,459,837,6.6,64.6,NaN,538,NaN,82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2908,South Region,1982-02-01,534,866,4.2,51.3,NaN,541,NaN,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2909,South Region,1983-12-01,956,1688,8.1,108.3,NaN,1017,NaN,124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2910,South Region,1984-03-01,839,1663,11.2,137.5,NaN,1046,NaN,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2911,South Region,1984-09-01,814,1698,9.5,148.5,NaN,1038,NaN,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2912,South Region,1986-01-01,898,1972,7.0,115.6,NaN,1270,NaN,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2913,South Region,1986-02-01,747,1848,6.1,107.2,NaN,1143,NaN,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2914,South Region,1986-03-01,782,1876,6.8,151.0,NaN,1180,NaN,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2915,South Region,1987-05-01,629,1628,6.2,158.0,NaN,1141,NaN,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2916,South Region,1987-06-01,602,1594,7.5,162.9,NaN,1092,NaN,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2917,South Region,1988-03-01,580,1532,5.1,128.8,NaN,1177,NaN,62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2918,South Region,1982-01-01,503,843,4.5,47.2,NaN,557,NaN,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2919,South Region,1982-08-01,572,1046,7.6,96.0,NaN,654,NaN,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2920,South Region,1984-02-01,1187,2260,8.2,130.0,NaN,1400,NaN,148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2921,South Region,1985-02-01,779,1632,5.0,95.4,NaN,1077,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2922,South Region,1985-11-01,792,1698,6.1,124.1,NaN,1040,NaN,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2923,South Region,1987-02-01,661,1784,4.3,102.8,NaN,1282,NaN,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2924,South Region,1987-09-01,706,1695,4.1,152.0,NaN,1232,NaN,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2925,South Region,1988-12-01,597,1563,3.9,94.2,NaN,1131,NaN,62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2926,South Region,1989-03-01,557,1422,4.4,117.8,NaN,982,NaN,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2927,South Region,1989-06-01,526,1397,5.2,143.2,NaN,973,NaN,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Upload Datatile

In [13]:
#For now uploaded using UI.
uploaded_tile = "USER_DT_1582094014"

In [ ]:
#Parameters
API = 'uploadfile'
END_POINT = BASE_URL + API
dt_name = 'Cherry test 2'
dt_description = ''
columns = [{"name":"ZIPCODE","type":"Zipcode","aggMethod":"","format":"","isPrimaryMeasure":"","position":1},{"name":"MONTH","type":"Month","aggMethod":"","format":"MM/DD/YYYY","isPrimaryMeasure":"","position":2},{"name":"ITEMS_PER_CAPITA","type":"Measure","aggMethod":"Avg","format":"","isPrimaryMeasure":"True","position":3}]
if_already_exists = 'overwrite'

In [ ]:
#read a file from local
file_name = 'C:\\Users\\sreecharan.akireddy\\Downloads\\California Baskets April 2018 organic month zip agg per customer.csv'
in_file = open(file_name, "rb")
data = in_file.read()
in_file.close()
#Check if file size is not greater than 50MB
if len(data)>5000000:
    print('Error: File size cannot be more than 50 MB.')

In [ ]:
#Upload Dt
response = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'file_bytes': data.decode('utf8'), 'dt_name': dt_name, 'dt_description': dt_description, 'columns': columns, 'if_already_exists': if_already_exists})
uploaded_tile = response.json()['dt_code']
response.json()

# Select the uploaded tile as the primary tile and other 100 tiles

In [14]:
priority = 1
selected_data = [{"dataTileCode":uploaded_tile,"Priority": priority}]
for data_tile in data_tiles[0:100]:
    dt_code = data_tile['ID']
    priority = priority + 1
    selected_data.append({"dataTileCode":dt_code,"Priority": priority})
print(selected_data[0:10])

[{'dataTileCode': 'USER_DT_1582094014', 'Priority': 1}, {'dataTileCode': 'FRED_NEW_0000014036', 'Priority': 2}, {'dataTileCode': 'FRED_0000034497', 'Priority': 3}, {'dataTileCode': 'FRED_0000034433', 'Priority': 4}, {'dataTileCode': 'FRED_0000034434', 'Priority': 5}, {'dataTileCode': 'FRED_NEW_0000014037', 'Priority': 6}, {'dataTileCode': 'FRED_0000034503', 'Priority': 7}, {'dataTileCode': 'FRED_0000034504', 'Priority': 8}, {'dataTileCode': 'FRED_0000029547', 'Priority': 9}, {'dataTileCode': 'FRED_0000034496', 'Priority': 10}]

# Run Correlation

In [15]:
#Get measures in primary DT
API = 'datatilemeasurecolumns'
END_POINT = BASE_URL + API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {"data_tile_code": uploaded_tile})
for measure in data.json():
    if measure['isPrimaryMeasure']:
        target_measure = [measure['name']]
print(target_measure)

['ITEMS_PER_CAPITA']

In [16]:
#Run correlation
API = 'runcorrelation'
END_POINT = BASE_URL + API
report_name = 'NAC-1022 Correlation with top 100 tiles against uploaded DT -1'
run_lasso = True
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'selected_data': selected_data, 'report_name': report_name, 'target_measure': target_measure, 'run_lasso': run_lasso}) 
correlation_id = data.json()
print(correlation_id)

# Check Correlation Status

In [43]:
# Check for correlation completion
API = 'correlationstatus'
END_POINT = BASE_URL + API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'correlation_id': correlation_id}) 
print(data.json())

{'status': 'Lasso Completed', "'num_dts_corr_Gte_point5": 0, 'num_dts': 100, 'ranked_dts': 15}

# Download Correlation report

In [44]:
API = 'correlationdetails'
END_POINT = BASE_URL + API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'correlation_id': correlation_id}) 
corr_details = pandas.DataFrame(data.json()['data'])
corr_details

,DataSourceID,DataSourceName,DataTileCode,Frequency,Geography,ID,Name,ProviderID,ProviderLogo,ProviderName,Pvalue,Rank,Relationship,XRowsMatchedWithY,YRows,corrValue,corrValueAbs,taxonomy1,taxonomy2,taxonomy3
0,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023477,Year,City,192050,Housing type: Total population in occupied h...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.089588,1.0,0.058113,683.0,1239.0,0.064,0.064,Demographics,Housing Characteristics,Occupied housing units
1,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023475,Year,City,192017,Housing type: Occupied housing units Renter-o...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.028142,2.0,0.083107,683.0,1239.0,0.086,0.086,Demographics,Housing Characteristics,Occupied housing units
2,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023474,Year,City,192023,Housing type: Occupied housing units Renter-o...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.021750,3.0,0.084304,683.0,1239.0,0.086,0.086,Demographics,Housing Characteristics,Occupied housing units
3,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023468,Year,City,192005,Housing type: Occupied housing units Owner-oc...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.161969,4.0,0.045121,683.0,1239.0,0.054,0.054,Demographics,Housing Characteristics,Occupied housing units
4,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023495,Year,City,192038,Housing type: Occupied housing units Owner oc...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.009524,5.0,0.097279,683.0,1239.0,0.098,0.098,Demographics,Housing Characteristics,Occupied housing units
5,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023473,Year,City,192020,Housing type: Occupied housing units Renter-o...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.230557,6.0,0.034879,683.0,1239.0,0.045,0.045,Demographics,Housing Characteristics,Occupied housing units
6,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023619,Year,City,192275,Housing value: Owner-occupied housing units T...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.021776,7.0,0.089142,628.0,1239.0,0.091,0.091,Demographics,Housing Characteristics,Owner-occupied housing units
7,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023469,Year,City,192008,Housing type: Occupied housing units Owner-oc...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.001438,8.0,0.121203,683.0,1239.0,0.121,0.121,Demographics,Housing Characteristics,Occupied housing units
8,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023470,Year,City,192002,Housing type: Occupied housing units Owner-oc...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.005255,9.0,0.107006,683.0,1239.0,0.108,0.108,Demographics,Housing Characteristics,Occupied housing units
9,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023471,Year,City,192011,Housing type: Occupied housing units Owner-oc...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.271721,10.0,0.031480,683.0,1239.0,-0.043,0.043,Demographics,Housing Characteristics,Occupied housing units
10,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023476,Year,City,192026,Housing type: Occupied housing units Renter-o...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.617237,11.0,0.006836,683.0,1239.0,-0.018,0.018,Demographics,Housing Characteristics,Occupied housing units
11,112,2012-2016 American Community Survey 5-Year Est...,SG_CENSUS_0000003502,Year,CensusBlockGroup,160505,UNWEIGHTED SAMPLE HOUSING UNITS: Total: Housin...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.689233,12.0,0.004096,1117.0,1239.0,0.013,0.013,Housing/Construction,Housing Units,None
12,112,2012-2016 American Community Survey 5-Year Est...,SG_CENSUS_0000001236,Year,CensusBlockGroup,158421,KITCHEN FACILITIES FOR ALL HOUSING UNITS: Tota...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.617174,13.0,0.005497,1118.0,1239.0,0.014,0.014,Housing/Construction,Housing Units,Kitchen Present
13,112,2012-2016 American Community Survey 5-Year Est...,SG_CENSUS_0000001220,Year,CensusBlockGroup,159482,HOUSING UNITS: Total: Housing units,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.617174,14.0,0.005497,1118.0,1239.0,0.014,0.014,Housing/Construction,Housing Units,None
14,112,2012-2016 American Community Survey 5-Year Est...,SG_CENSUS_0000001685,Year,CensusBlockGroup,158617,PLUMBING FACILITIES FOR ALL HOUSING UNITS: Tot...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.617174,15.0,0.005497,1118.0,1239.0,0.014,0.014,Housing/Construction,Housing Units,Plumbing Present
15,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023497,Year,City,192041,Housing type: Occupied housing units Renter o...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.045897,NaN,0.074240,683.0,1239.0,0.078,0.078,Demographics,Housing Characteristics,Occupied housing units
16,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023472,Year,City,192014,Housing type: Occupied housing units Renter-o...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.045897,NaN,0.074240,683.0,1239.0,0.078,0.078,Demographics,Housing Characteristics,Occupied housing units
17,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023493,Year,City,192029,Housing type: Occupied housing units Total,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.057855,NaN,0.068199,683.0,1239.0,0.072,0.072,Demographics,Housing Characteristics,Occupied housing units
18,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023467,Year,City,191999,Housing type: Occupied housing units Owner-oc...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.110062,NaN,0.055334,683.0,1239.0,0.062,0.062,Demographics,Housing Characteristics,Occupied housing units
19,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023494,Year,City,192032,Housing type: Occupied housing units Owner oc...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.110062,NaN,0.055334,683.0,1239.0,0.062,0.062,Demographics,Housing Characteristics,Occupied housing units
20,119,American Community Survey 1-Year Estimates,CENSUS_ACS_0000023478,Year,City,192053,Housing type: Total population in occupied ho...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,0.161969,NaN,0.045994,683.0,1239.0,0.055,0.055,Demographics,Housing Characteristics,Occupied housing units
21,57,U.S. Bureau of the Census,FRED_NEW_0000017651,Quarter,CensusRegion,174759,New Privately Owned Housing Starts Average Squ...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
22,57,U.S. Bureau of the Census,FRED_NEW_0000017658,Quarter,CensusRegion,174763,New Privately Owned Housing Starts by Purpose ...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
23,57,U.S. Bureau of the Census,FRED_NEW_0000017650,Quarter,CensusRegion,174769,New Privately Owned Housing Starts Average Squ...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
24,57,U.S. Bureau of the Census,FRED_0000044210,Quarter,Country,44963,New Privately Owned Housing Starts in the Unit...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
25,57,U.S. Bureau of the Census,FRED_0000034433,Month,Country,9269,"Housing Starts: 2-4 Units Thousands of Units, ...",74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
26,57,U.S. Bureau of the Census,FRED_0000034505,Month,Country,50997,Privately Owned Housing Starts: 5-Unit Structu...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
27,57,U.S. Bureau of the Census,FRED_0000044213,Quarter,Country,53155,New Privately Owned Housing Starts in the Unit...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
28,57,U.S. Bureau of the Census,FRED_0000034434,Month,Country,28443,Housing Starts: Total: New Privately Owned Hou...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
29,57,U.S. Bureau of the Census,FRED_NEW_0000017659,Quarter,CensusRegion,174757,New Privately Owned Housing Starts by Purpose ...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,1.000000,NaN,0.000000,1239.0,1239.0,0.000,0.000,Housing/Construction,Housing Starts,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC22HC03_M,Year,Zipcode,175613,Owner-occupied housing units with Monthly hous...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Owner Occupied Housing Units,Monthly Costs
71,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC01HC01_M,Year,Zipcode,175594,"Occupied housing units, occupied housing units...",74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Margin Of Error
72,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC26HC02_M,Year,Zipcode,175593,Percent occupied housing units with Monthly ho...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
73,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC23HC03_M,Year,Zipcode,175590,Owner-occupied housing units with Monthly hous...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Owner Occupied Housing Units,Monthly Costs
74,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2501_VC01HC02_M,Year,Zipcode,175583,"Total Percent occupied housing units, percent ...",74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Margin Of Error
75,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC21HC02_M,Year,Zipcode,175573,Percent occupied housing units with Monthly ho...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
76,80,National Bureau of Economic Research,FRED_0000018406,Year,Country,55411,Number of New Private Nonfarm Housing Units St...,55,https://s3.us-east-2.amazonaws.com/datatiles-p...,National Bureau of Economic Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nber Macrohistory Database,Academic Data,Construction
77,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2501_VC01HC05_M,Year,Zipcode,176205,"Total Renter-occupied housing units, renter-oc...",74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Margin Of Error
78,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC27HC02,Year,Zipcode,68704,Percent occupied housing units Median Monthly ...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
79,80,National Bureau of Economic Research,FRED_NEW_0000018414,Month,Country,132939,Number of New Private Nonfarm Housing Units St...,55,https://s3.us-east-2.amazonaws.com/datatiles-p...,National Bureau of Economic Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nber Macrohistory Database,Academic Data,Construction
80,80,National Bureau of Economic Research,FRED_0000029547,Month,Country,3440,"New Home Starts, Number Per Workday Number of ...",55,https://s3.us-east-2.amazonaws.com/datatiles-p...,National Bureau of Economic Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nber Macrohistory Database,Academic Data,Construction
81,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC27HC01,Year,Zipcode,68794,Occupied housing units with Median Monthly hou...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
82,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC19HC02_M,Year,Zipcode,175565,Percent occupied housing units with Monthly ho...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
83,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC21HC05_M,Year,Zipcode,175618,Renter-occupied housing units with Monthly hou...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Monthly Costs
84,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC27HC05_M,Year,Zipcode,175622,Renter-occupied housing units with Median Mont...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Monthly Costs
85,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2501_VC01HC01_M,Year,Zipcode,175649,"Total Occupied housing units, occupied housing...",74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Margin Of Error
86,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC23HC02_M,Year,Zipcode,175677,Percent occupied housing units with Monthly ho...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
87,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC17HC05_M,Year,Zipcode,175693,Renter-occupied housing units with Monthly hou...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Monthly Costs
88,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC25HC01_M,Year,Zipcode,175697,Occupied housing units with Monthly housing co...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
89,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC21HC03_M,Year,Zipcode,175710,Owner-occupied housing units with Monthly hous...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Owner Occupied Housing Units,Monthly Costs
90,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC27HC03_M,Year,Zipcode,175736,Owner-occupied housing units with Median Month...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Owner Occupied Housing Units,Monthly Costs
91,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC24HC05_M,Year,Zipcode,175749,Renter-occupied housing units with Monthly hou...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Monthly Costs
92,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC27HC06_M,Year,Zipcode,175761,Percent renter-occupied housing units with Med...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Monthly Costs
93,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2501_VC01HC04_M,Year,Zipcode,175815,"Total Percent owner-occupied housing units, pe...",74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Owner Occupied Housing Units,Margin Of Error
94,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC27HC01_M,Year,Zipcode,175844,Occupied housing units with Median Monthly hou...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
95,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC17HC01_M,Year,Zipcode,175851,Occupied housing units with Monthly housing co...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
96,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC19HC01_M,Year,Zipcode,175906,Occupied housing units with Monthly housing co...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs
97,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC20HC05_M,Year,Zipcode,175914,Renter-occupied housing units with Monthly hou...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Monthly Costs
98,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC01HC06_M,Year,Zipcode,175922,"Percent renter-occupied housing units, percent...",74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Renter Occupied Housing Units,Margin Of Error
99,106,2013-2017 American Community Survey 5-Year Est...,CENSUS_S2503_VC20HC01_M,Year,Zipcode,175930,Occupied housing units with Monthly housing co...,74,https://s3.us-east-2.amazonaws.com/datatiles-p...,U.S. Census Bureau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Housing/Construction,Occupied Housing Units,Monthly Costs

# Select DataTiles where Rank is not null

In [47]:
corr_details_not_null_lasso_rank = corr_details[corr_details.Rank.notnull()]
print(corr_details_not_null_lasso_rank['DataTileCode'])

0     CENSUS_ACS_0000023477
1     CENSUS_ACS_0000023475
2     CENSUS_ACS_0000023474
3     CENSUS_ACS_0000023468
4     CENSUS_ACS_0000023495
5     CENSUS_ACS_0000023473
6     CENSUS_ACS_0000023619
7     CENSUS_ACS_0000023469
8     CENSUS_ACS_0000023470
9     CENSUS_ACS_0000023471
10    CENSUS_ACS_0000023476
11     SG_CENSUS_0000003502
12     SG_CENSUS_0000001236
13     SG_CENSUS_0000001220
14     SG_CENSUS_0000001685
Name: DataTileCode, dtype: object

In [48]:
priority = 1
selected_data = [{"dataTileCode":uploaded_tile,"Priority": priority}]
for data_tile in corr_details_not_null_lasso_rank['DataTileCode'].values.tolist():
    dt_code = data_tile
    priority = priority + 1
    selected_data.append({"dataTileCode":dt_code,"Priority": priority})
selected_data

[{'dataTileCode': 'USER_DT_1582094014', 'Priority': 1},
 {'dataTileCode': 'CENSUS_ACS_0000023477', 'Priority': 2},
 {'dataTileCode': 'CENSUS_ACS_0000023475', 'Priority': 3},
 {'dataTileCode': 'CENSUS_ACS_0000023474', 'Priority': 4},
 {'dataTileCode': 'CENSUS_ACS_0000023468', 'Priority': 5},
 {'dataTileCode': 'CENSUS_ACS_0000023495', 'Priority': 6},
 {'dataTileCode': 'CENSUS_ACS_0000023473', 'Priority': 7},
 {'dataTileCode': 'CENSUS_ACS_0000023619', 'Priority': 8},
 {'dataTileCode': 'CENSUS_ACS_0000023469', 'Priority': 9},
 {'dataTileCode': 'CENSUS_ACS_0000023470', 'Priority': 10},
 {'dataTileCode': 'CENSUS_ACS_0000023471', 'Priority': 11},
 {'dataTileCode': 'CENSUS_ACS_0000023476', 'Priority': 12},
 {'dataTileCode': 'SG_CENSUS_0000003502', 'Priority': 13},
 {'dataTileCode': 'SG_CENSUS_0000001236', 'Priority': 14},
 {'dataTileCode': 'SG_CENSUS_0000001220', 'Priority': 15},
 {'dataTileCode': 'SG_CENSUS_0000001685', 'Priority': 16}]

# Run Publication compression = GZIP

In [49]:
API = 'runpublication'
END_POINT = BASE_URL + API
file_name = 'NAC-1022 Publication with lasso ranked tiles - 1'
download_format = {"format":"CSV","compression":"GZIP","download_when_ready": False}
subscription_frequency = 'one-time'
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'selected_data': selected_data, 'file_name': file_name, 'download_format': download_format, 'subscription_frequency': subscription_frequency}) 
data = data.json()
publication_id = data['publication_id']
print(data)

{'status': 'True', 'message': 'Publication submitted. See the Publications tab when it’s ready.', 'publication_id': 1908}

# Check Publication Status

In [56]:
# Check for publication completion
API = 'publicationstatus'
END_POINT = BASE_URL + API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'publication_id': publication_id}) 
print(data.json())

{'status': 'Ready'}

# Download Publication

In [57]:
API = 'downloaddataframe'
END_POINT = BASE_URL + API
data = requests.post(url = END_POINT, params = {'api_key': API_KEY}, json = {'publication_id': publication_id, 'download_data': True, 'download_metadata': True}) 
print(data.json())

{'dataurl': 'https://s3.us-east-2.amazonaws.com/datatiles-smart-frames/NAC-1022%20Publication%20with%20lasso%20ranked%20tiles%20-%201_1582114565.csv', 'metadataUrl': 'https://s3.us-east-2.amazonaws.com/datatiles-smart-frames/PackingList_NAC-1022%20Publication%20with%20lasso%20ranked%20tiles%20-%201_1582114565.csv'}

In [59]:
data_frame = requests.get(data.json()['dataurl']).content
structred_data_frame =pandas.read_csv(io.BytesIO(data_frame), compression = 'gzip')
structred_data_frame[0:100]

,MONTH,ZIPCODE,ITEMS_PER_CAPITA,ESTIMATE,ESTIMATE_1,ESTIMATE_2,ESTIMATE_3,ESTIMATE_4,ESTIMATE_5,ESTIMATE_6,...,ESTIMATE_9,ESTIMATE_10,ESTIMATE_11,MARGIN,ESTIMATE_12,MARGIN_1,ESTIMATE_13,MARGIN_2,ESTIMATE_14,MARGIN_3
0,2018-04-01,92263,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-01,92084,0.812500,99138.0,5910.0,4205.0,13752.0,192.0,4399.0,15803.0,...,1646.0,264.0,1002.0,1002.0,14111.0,14111.0,14111.0,14111.0,14111.0,14111.0
2,2018-04-01,92122,1.066667,1387968.0,117819.0,78535.0,206709.0,4510.0,75250.0,240650.0,...,3902.0,1444.0,1340.0,1340.0,21780.0,21780.0,21780.0,21780.0,21780.0,21780.0
3,2018-04-01,90661,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-04-01,91355,3.071429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,893.0,893.0,12977.0,12977.0,12977.0,12977.0,12977.0,12977.0
5,2018-04-01,91932,1.142857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,799.0,799.0,9963.0,9963.0,9963.0,9963.0,9963.0,9963.0
6,2018-04-01,91007,2.571429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1047.0,1047.0,12872.0,12872.0,12872.0,12872.0,12872.0,12872.0
7,2018-04-01,95691,0.807692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,899.0,899.0,13558.0,13558.0,13558.0,13558.0,13558.0,13558.0
8,2018-04-01,95991,0.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1172.0,1172.0,14361.0,14361.0,14361.0,14361.0,14361.0,14361.0
9,2018-04-01,92595,1.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,703.0,703.0,7484.0,7484.0,7484.0,7484.0,7484.0,7484.0
10,2018-04-01,92173,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,471.0,471.0,5980.0,5980.0,5980.0,5980.0,5980.0,5980.0
11,2018-04-01,90270,0.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,703.0,703.0,6732.0,6732.0,6732.0,6732.0,6732.0,6732.0
12,2018-04-01,91103,0.777778,137423.0,14247.0,9334.0,18824.0,450.0,7538.0,NaN,...,0.0,0.0,970.0,970.0,10546.0,10546.0,10546.0,10546.0,10546.0,10546.0
13,2018-04-01,94804,2.000000,108842.0,4170.0,4678.0,16885.0,469.0,8433.0,18776.0,...,226.0,0.0,974.0,974.0,16244.0,16244.0,16244.0,16244.0,16244.0,16244.0
14,2018-04-01,91706,0.625000,75315.0,2468.0,1465.0,9346.0,171.0,4145.0,9959.0,...,91.0,187.0,1781.0,1781.0,18829.0,18829.0,18829.0,18829.0,18829.0,18829.0
15,2018-04-01,93532,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,74.0,74.0,688.0,688.0,688.0,688.0,688.0,688.0
16,2018-04-01,95668,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,323.0,323.0,1104.0,1104.0,1104.0,1104.0,1104.0,1104.0
17,2018-04-01,92022,2.000000,100764.0,11033.0,5632.0,10907.0,369.0,3358.0,12916.0,...,1447.0,214.0,93.0,93.0,997.0,997.0,997.0,997.0,997.0,997.0
18,2018-04-01,92057,1.937500,175317.0,7128.0,7998.0,29987.0,1011.0,9846.0,34728.0,...,2445.0,837.0,1499.0,1499.0,23562.0,23562.0,23562.0,23562.0,23562.0,23562.0
19,2018-04-01,92040,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,998.0,998.0,14121.0,14121.0,14121.0,14121.0,14121.0,14121.0
20,2018-04-01,92106,0.666667,1387968.0,117819.0,78535.0,206709.0,4510.0,75250.0,240650.0,...,3902.0,1444.0,398.0,398.0,7579.0,7579.0,7579.0,7579.0,7579.0,7579.0
21,2018-04-01,91352,1.214286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1323.0,1323.0,11762.0,11762.0,11762.0,11762.0,11762.0,11762.0
22,2018-04-01,93535,0.416667,152112.0,4488.0,3662.0,22662.0,484.0,10967.0,25026.0,...,1814.0,2166.0,1835.0,1835.0,24059.0,24059.0,24059.0,24059.0,24059.0,24059.0
23,2018-04-01,95212,0.181818,304636.0,12219.0,14698.0,40465.0,1140.0,26167.0,42124.0,...,713.0,349.0,327.0,327.0,9033.0,9033.0,9033.0,9033.0,9033.0,9033.0
24,2018-04-01,94505,4.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,476.0,476.0,5903.0,5903.0,5903.0,5903.0,5903.0,5903.0
25,2018-04-01,92505,0.083333,313094.0,13211.0,10468.0,45217.0,1039.0,15082.0,48020.0,...,1977.0,560.0,1369.0,1369.0,15013.0,15013.0,15013.0,15013.0,15013.0,15013.0
26,2018-04-01,92058,1.800000,175317.0,7128.0,7998.0,29987.0,1011.0,9846.0,34728.0,...,2445.0,837.0,622.0,622.0,15426.0,15426.0,15426.0,15426.0,15426.0,15426.0
27,2018-04-01,93954,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2018-04-01,90404,8.666667,89823.0,16975.0,11645.0,6746.0,373.0,3476.0,12240.0,...,63.0,159.0,997.0,997.0,12770.0,12770.0,12770.0,12770.0,12770.0,12770.0
29,2018-04-01,91030,2.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,785.0,785.0,10879.0,10879.0,10879.0,10879.0,10879.0,10879.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2018-04-01,95374,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,66.0,66.0,624.0,624.0,624.0,624.0,624.0,624.0
71,2018-04-01,96055,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,184.0,184.0,1570.0,1570.0,1570.0,1570.0,1570.0,1570.0
72,2018-04-01,95741,0.000000,74053.0,3175.0,2672.0,14902.0,698.0,4454.0,17404.0,...,1963.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2018-04-01,95817,1.400000,499045.0,30159.0,25481.0,85865.0,2029.0,36367.0,89678.0,...,1761.0,992.0,561.0,561.0,8146.0,8146.0,8146.0,8146.0,8146.0,8146.0
74,2018-04-01,94538,1.166667,236312.0,14354.0,5267.0,44431.0,1163.0,10886.0,47511.0,...,758.0,225.0,1947.0,1947.0,24011.0,24011.0,24011.0,24011.0,24011.0,24011.0
75,2018-04-01,95759,1.000000,172028.0,3148.0,1955.0,39445.0,684.0,8645.0,39823.0,...,55.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2018-04-01,95831,1.727273,499045.0,30159.0,25481.0,85865.0,2029.0,36367.0,89678.0,...,1761.0,992.0,1242.0,1242.0,19354.0,19354.0,19354.0,19354.0,19354.0,19354.0
77,2018-04-01,92064,2.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1495.0,1495.0,16937.0,16937.0,16937.0,16937.0,16937.0,16937.0
78,2018-04-01,95326,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,559.0,559.0,4527.0,4527.0,4527.0,4527.0,4527.0,4527.0
79,2018-04-01,91335,0.826087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2046.0,2046.0,25739.0,25739.0,25739.0,25739.0,25739.0,25739.0
80,2018-04-01,91770,1.086957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1701.0,1701.0,17657.0,17657.0,17657.0,17657.0,17657.0,17657.0
81,2018-04-01,90012,2.800000,3897817.0,474923.0,227049.0,428907.0,15739.0,175139.0,501962.0,...,5711.0,3220.0,890.0,890.0,10719.0,10719.0,10719.0,10719.0,10719.0,10719.0
82,2018-04-01,91010,0.571429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,700.0,700.0,8619.0,8619.0,8619.0,8619.0,8619.0,8619.0
83,2018-04-01,91755,1.238095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,779.0,779.0,9954.0,9954.0,9954.0,9954.0,9954.0,9954.0
84,2018-04-01,95926,1.500000,91153.0,4153.0,10352.0,14218.0,918.0,6330.0,16067.0,...,1366.0,198.0,946.0,946.0,12223.0,12223.0,12223.0,12223.0,12223.0,12223.0
85,2018-04-01,91607,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1077.0,1077.0,17093.0,17093.0,17093.0,17093.0,17093.0,17093.0
86,2018-04-01,90049,0.250000,3897817.0,474923.0,227049.0,428907.0,15739.0,175139.0,501962.0,...,5711.0,3220.0,1446.0,1446.0,17369.0,17369.0,17369.0,17369.0,17369.0,17369.0
87,2018-04-01,94541,0.866667,156160.0,10314.0,3065.0,22478.0,565.0,9351.0,25690.0,...,1990.0,445.0,1395.0,1395.0,20181.0,20181.0,20181.0,20181.0,20181.0,20181.0
88,2018-04-01,90701,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,374.0,374.0,4846.0,4846.0,4846.0,4846.0,4846.0,4846.0
89,2018-04-01,90029,0.928571,3897817.0,474923.0,227049.0,428907.0,15739.0,175139.0,501962.0,...,5711.0,3220.0,1284.0,1284.0,14606.0,14606.0,14606.0,14606.0,14606.0,14606.0
90,2018-04-01,94560,1.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1110.0,1110.0,13932.0,13932.0,13932.0,13932.0,13932.0,13932.0
91,2018-04-01,95123,2.428571,1016043.0,64333.0,30925.0,159626.0,2681.0,49441.0,181143.0,...,9486.0,2006.0,2156.0,2156.0,23999.0,23999.0,23999.0,23999.0,23999.0,23999.0
92,2018-04-01,95322,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,228.0,228.0,4386.0,4386.0,4386.0,4386.0,4386.0,4386.0
93,2018-04-01,94925,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,284.0,284.0,4919.0,4919.0,4919.0,4919.0,4919.0,4919.0
94,2018-04-01,93204,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,118.0,118.0,2326.0,2326.0,2326.0,2326.0,2326.0,2326.0
95,2018-04-01,93636,0.500000,65408.0,1223.0,2975.0,8596.0,77.0,4974.0,8856.0,...,260.0,0.0,334.0,334.0,3868.0,3868.0,3868.0,3868.0,3868.0,3868.0
96,2018-04-01,90810,0.600000,457814.0,41572.0,41042.0,58783.0,1604.0,19500.0,70749.0,...,1375.0,569.0,932.0,932.0,9511.0,9511.0,9511.0,9511.0,9511.0,9511.0
97,2018-04-01,93727,0.558824,519937.0,18830.0,36139.0,72244.0,1942.0,39287.0,75607.0,...,1801.0,1346.0,1825.0,1825.0,23002.0,23002.0,23002.0,23002.0,23002.0,23002.0
98,2018-04-01,94070,8.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1229.0,1229.0,12579.0,12579.0,12579.0,12579.0,12579.0,12579.0
99,2018-04-01,94404,3.062500,103490.0,8568.0,4319.0,17320.0,776.0,4621.0,NaN,...,0.0,0.0,1316.0,1316.0,15186.0,15186.0,15186.0,15186.0,15186.0,15186.0